// checkout
.header {width: 100%; background-color: $soft;
  @include tablet {border-bottom: 1px solid $light;}
  // picture {}
  .module {@include padbox(1em);
    @include flexbox; @include flow-rw; @include just-start; @include items-center;
    @include tablet {padding: 1em 0;}
    a {
      svg {height: 2em; width: auto; display: inline-block; padding-right: 1em;
        * {fill: $red;}
      }
    }
    h1 {font-size: 1em; font-weight: 300; display: inline-block;
      @include tablet {font-size: 2em;}
    }
  }
}
