.nav {
background-color: white; position: fixed; top: 0; left: 0; right: 0; z-index: 9; // overflow-x: hidden; overflow-y: scroll;

  // &--banner {}

  &--top-mobile {width: 100%; @include padblock(0.5em); text-align: left; background-color: white; color: $black;
    label {width: auto; padding-right: 1em; position: relative; z-index: 1;
      &::after {content: "\f107"; font-family: $icon; position: absolute; top: 3px; right: 1px; z-index: -1;}
      select {font-size: 0.9em;}
    }
    &.personas {background-color: transparent; color: $black;}
    &.negocios {background-color: $dark; color: white;
      select {color: white;}
    }
    &.empresas {background-color: $black; color: white;
      select {color: white;}
    }
    @include tablet {display: none;}
  }

  &--top {
    @include phone {display: none; height: 0;}
    @include tablet {display: none; height: 0;}
    @include desk{width: 100%; @include module; background-color: white; margin: 0 auto; height: 70px;}
    @include flexbox; @include flow-rn; @include just-between; @include items-center;

    &-desk {display: none;
      @include desk {@include flexbox; @include flow-rn; @include just-between; @include items-center;
        @include padbox(0.5em); width: 100%; text-align: center;
      }
    }

    section { @include flexbox; @include flow-rn; @include just-between; @include items-center;
      // @include ie11 { display: inline-block; }
    }

    &-first {
      @include flexbox; @include flow-rn; @include just-between; @include items-center; text-align: left;
      a {width: auto; font-size: 0.82em; padding-right: 1.5em;
        &:first-child {font-weight: 500;}
        &:last-child {border-right: 1px solid $black; margin-right: 1em;}
      }
      // @include ie11 { display: inline-block; }
    }
    
    &-ul {
      @include tablet {margin-right: 2em;}
      @include desk {margin-right: 3em;}}

    &-second {width: auto; text-align: left; font-size: 0.82em; position: relative; display: none;
      @include tablet {@include flexbox; @include flow-rn; @include just-between; @include items-center;}
      > a {padding-right: 1em; position: relative;
        &:last-of-type {
          &::after {content: "\f107"; font-family: $icon; padding-left: 3px; position: absolute; top: 2px; right: 0;}
          @include tablet {display: none;}
          @include desk {display: inline-block;}
        }
        span {display: inline-block;
          svg {height: 12px; width: auto; margin-right: 6px;}
          @include ie11 {
            svg { max-width: 14px; }
          }
        }
      }
      ul {top: calc(100% + 0.9em); right: 0; background-color: white; display: inline-block;
        li {display: inline-block; width: 100%;}
        a {width: 100%; @include padbox(0.5em); background-color: white; font-size: 0.7em;
          font-weight: 500;
          vertical-align: middle;
          // &:hover {background-color: $blue; color: white;}
        }
        span {font-family: $icon; margin-right: 0.5em;
          font-size: 1.5em; width: auto; vertical-align: middle;}
      }
      //&-hover:hover &-dropdown {display: inline-block;}
      // @include ie11 { display: inline-block; }
    }

    &-third {display: none; position: relative; max-width: 130px;
      @include tablet { @include flexbox; @include flow-rn; @include just-between; @include items-center;}
      > a {
        &:first-of-type {color: $blue; font-size: 0.82em; margin-right: 1em;
          span {display: inline-block; vertical-align: middle;
            svg {height: 18px; width: auto; max-width: 14px; margin-right: 5px;}
          }
        }
        &:last-of-type {color: $black; padding-right: 0.5em;
          svg {height: 1.3em; width: auto; max-width: 34px; margin-right: 9px;}
          &::after {content: "\f107"; font-family: $icon; padding-left: 4px; position: absolute; top: 0.2em; right: 0px;}
          &.active::after {content: "\f106";}
        }
      }
      ul {width: 44vw; position: absolute; top: calc(100% + 0.5em); right: 0; background-color: $black; display: none; z-index: 1;
        @include desk {width: 33vw;}
        li {display: inline-block; width: 50%; text-align: left;
          a {color: white; @include padblock(0.5em); font-size: 0.9em;
            &:hover {color: $blue;}
          }
        }
      }
      // @include ie11 { 
      //   display: inline-block; padding-left: 31%; @include transform(translateY(5px)); 
      //   > a:first-of-type { @include transform(translateY(-0.4rem)); }
      // }
    }

  }

  &--main {width: 100%; background-color: $red; color: white; position: relative;
    @include phone {
      height: 130px;
    }
    @include tablet {height: 130px;}
    @include desk {
      height: 67px;
    }
    border-bottom: 4px solid white;
    // @include ie11 { text-align: center; }
    &-content {
      
      @include phone {
        @include padbox(0.5rem);
      }
      @include tablet {
          @include padbox(0.5rem);
        }
      @include desk {
        @include padbox(0);
        @include flexbox; @include flow-rw; @include just-between; @include items-center; 
      @include flexbox; @include flow-rw; @include just-between; @include items-center; 
        @include flexbox; @include flow-rw; @include just-between; @include items-center; 
      @include flexbox; @include flow-rw; @include just-between; @include items-center; 
        @include flexbox; @include flow-rw; @include just-between; @include items-center; 
        position: relative; overflow: visible; height: auto; @include module;
      }
    }
  }

  &--sublinks {
    background-color: white;
    width: 28%;
    margin-top: -20px;
    position: absolute;
    text-align: right;
    padding: 0.5em 2em;
    display: none;
  }

  &--links { margin-top: 0.7em;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      text-align: center;
    }
    li {
      display: inline-block;
      text-align: center;
    }
  }

  &--link {
    font-size: 0.8em; color: white; height: 56%; display: none;
      @include desk {@include padbox(1.6em 2em); display: inline-block;}
      width: 130%;
      vertical-align: middle;
      &::after {
        font-weight: 500; font-size: 0.9em;
        content: '';
        display: block;
        width: 0;
        height: 0.5em;
        background: #FFC800;
        border-radius: 60px 60px 0px 0px;
        margin-top: 1em;
        transition: width .3s;
      }
      &:hover, &.active { color: #FFC800; 
        &::after {
          width: 100%;
        }
      }
  }
  &--logo {
    // display: inline-block !important; 
    // vertical-align: text-bottom; margin-right: 1em;
    // @include tablet {padding: 1.7em 0em 0 0 !important;}
    // @include desk {padding: 0.9em 2em 0 0 !important;}
    svg { width: auto; display: block;
      margin-right: 2em;
      @include phone {height: 30px; margin-left: 0.5em;}
      @include tablet {height: 30px; margin-left: 0.5em;}
      @include desk {height: 40px;}
      @include ie11 { max-width: 186px; }
    }
  }

  &--actions {
    width: 100%;
    top: 100%; left: 0; right: 0;
    position: static; @include flexbox; @include flow-rw; @include just-between; @include items-center;
    @include desk {
      width: auto;
    }
    .nav--trigger-search {display: none; font-family: $icon;
      // @include tablet {@include padblock(0.5em); color: $black; font-size: 1em; margin-right: 1em;}
      // @include tablet {display: inline-block;}
      // @include desk {display: none;}
    }
  }

  &--social {width: 100%; position: absolute; top: 100%; left: 0; right: 0;
    @include phone {display: none;}
    @include tablet {display: none}
    @include desk {margin-top: -1.7em; margin-right: 3em;
      position: static; width: auto; @include flexbox; @include flow-rw; @include just-between; @include items-center;
      margin-top: -1.7em; margin-right: 0.5em;
    }
    div {width: 100%; margin-top: 1em;
      a {font-family: $icon; margin-right: 0.4em; color:  white; font-size: 1.4em;
        @include tablet {font-size: 0.8em; margin-right: 0.3em;}
        img {display: inline-block; color: white; height: 20px; width: auto;}
      }
    }
  }

  &--cart {position: relative; background-color: $wine; color: white; margin-right: 0.5em; @include padbox(0.6rem .5rem); display: none; height: 51px; 
    @include tablet {display: inline-block; max-width: 56px;}
    @include desk {height: 100%; width: auto;}
    svg {height: 2rem; width: auto; display: block; max-width: 40px;}
    span {display: inline-block;
      // svg {height: 1em; width: auto; display: block;}
    }
    @include desk {
      &:hover {background-color: white;
        * {color: $wine; fill: $wine;}
      }
    }
  }

  &--qty {position: absolute; top: 3px; left: 7px; right: 0; text-align: center; color: white; font-size: 1em; padding: 0 !important; font-family: $font !important;}

  &--search {width: 100%; 
    position: absolute; 
    top: 100%; left: 0; right: 0;
    @include padblock(0.45em); background-color: white; 
    @include radius(99px);
    @include phone {position: static; width: 90%;}
    @include tablet {position: static; width: 90%;}
    @include desk {width: 24em; padding: 0; box-shadow: 8px 5px 12px 0px #E3E7EA;}
  }

  &--miclaro {display: none; height: 100%; @include padbox(0.5em); background-color: $wine; color: white; margin-left: 0.5em; height: 51px; position: relative;
    @include tablet {display: inline-block; font-size: 1em; padding: 0.95rem 1rem; line-height: 1.4; height: 100%;}
    // @include desk {}
    span { width: 100%; position: relative; transform: translateY(-6px);
      &::after { content: "autogestion"; position: absolute; left: 0; right: 0; top: 90%; text-align: center; font-size: 0.7rem; }
    }
    &:hover, &.active {background-color: white; color: $wine;}
    // &::after {content: "autogestión"; font-size: 60%; display: inline-block; width: 100%; text-align: center;
    //   position: absolute; left: 0; right: 0; top: 64%;
    // }
    // &-logout { @include padbox(0.7rem); font-size: 1.6rem; position: relative; color: white; background-color: $wine; display: none;
    //   @include tablet { display: inline-block; margin-left: 0.5rem; }
    //   @include desk { margin-left: 0; }
    //   &::before { content: "\f08b"; font-family: $icon; }
    //   &::after { content: "cerrar sesión"; font-size: 0.8rem; @include padblock(0.5rem); background-color: white; color: $wine; text-align: center;
    //     position: absolute; top: 100%; right: 3rem; width: 6rem; visibility: hidden; opacity: 0; @include trans;
    //   }
    //   &:hover { background-color: white; color: $wine;
    //     &::after {visibility: visible; opacity: 1; right: 0; @include trans;}
    //   }
    // }
    // &-logout { display: inline; visibility: hidden;}
  }

  &--trigger {
    margin-top: 0.5em;
    @include flexbox;
    a {color: white; font-size: 1.5em;
      span {@include padblock(0 0.7em 0 0); font-family: $icon;
        &::before {min-width: 24px; display: inline-block;}
      }
    }
    @include desk {display: none;}
    &-menu {
      @include desk {display: none;}
    }
  }

  &--grid-container-soluciones {
    padding: 1em 3em;
    @include module;
    display: grid;
    position: inherit;
    grid-template-columns: repeat(6, minmax(125px, 125px));
    grid-template-rows: repeat(1, minmax(125px, 125px));
    grid-gap: 1.5em;
    .grid-item {
      transition: 1s ease;
      @include items-center;
      @include radius(5px); box-shadow: 0px 5px 10px 0px #A6A6A6;
      padding: 1.2em 0.3em;
      font-size: 1em;
      text-align: center;
      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
      }
      div {
        height: 90px;
        width: 100%;
        text-align: center;
        align-items: center;
        img {
          height: 50px;
          width: auto;
          display: block;
          margin: auto;
        }
      }
      a {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
      }
      b  {
        color: $black;
        @include tablet {
          font-size: 0.5em;
        }
        @include desk {
          font-size: 0.7em;
        }
        width: auto;
        margin-bottom: 0.2em;
      }
      img {
        height: 4.5em;
        width: 4.5em;
        display: inline-block;
        position: relative;
        bottom: .9em;
        // position: absolute;
        // position: fixed;
        // bottom: 0;
      }
    }
  }

  &--grid-container-industria {
    padding: 1em 3em;
    @include module;
    display: grid;
    position: inherit;
    grid-template-columns: repeat(6, minmax(125px, 125px));
    grid-template-rows: repeat(1, minmax(125px, 125px));
    grid-gap: 1.5em;
    .grid-item {
      transition: 1s ease;
      @include items-center;
      @include radius(5px); box-shadow: 0px 5px 10px 0px #A6A6A6;
      padding: 0.95em 0;
      font-size: 1em;
      text-align: center;
      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
      }
      div {
        height: 90px;
        width: 100%;
        text-align: center;
        align-items: center;
        img {
          height: 50px;
          width: 100%;
          object-fit: cover;
          display: block;
        }
      }
      a {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
      }
      b  {
        color: $black;
        @include tablet {
          font-size: 0.5em;
        }
        @include desk {
          font-size: 0.7em;
        }
        width: auto;
        margin-bottom: 0.2em;
      }
      img {
        height: 4.5em;
        width: 4.5em;
        display: inline-block;
        position: relative;
        bottom: .9em;
        // position: absolute;
        // position: fixed;
        // bottom: 0;
      }
    }
  }

  &--grid-container-tecnologia {
    padding: 1em 3em;
    @include module;
    display: grid;
    position: inherit;
    grid-template-columns: repeat(6, minmax(125px, 125px));
    grid-template-rows: repeat(1, minmax(125px, 125px));
    grid-gap: 1.5em;
    .grid-item {
      transition: 1s ease;
      @include items-center;
      @include radius(5px); box-shadow: 0px 5px 10px 0px #A6A6A6;
      padding: 1.2em 0.3em;
      font-size: 1em;
      text-align: center;
      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
      }
      div {
        height: 90px;
        width: 100%;
        text-align: center;
        align-items: center;
        img {
          height: 70px;
          width: auto;
          display: block;
          margin: auto;
        }
      }
      a {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
      }
      b  {
        color: $black;
        @include tablet {
          font-size: 0.5em;
        }
        @include desk {
          font-size: 0.7em;
        }
        width: auto;
        margin-bottom: 0.2em;
      }
      img {
        height: 4.5em;
        width: 4.5em;
        display: inline-block;
        position: relative;
        bottom: .9em;
        // position: absolute;
        // position: fixed;
        // bottom: 0;
      }
    }
  }


  // -- Menu

  &--menu {position: absolute; top: 100%; left: 0; right: 0; background-color: white; height: 0;
    display: none;
    @include desk {background-color: white; height: auto;}
    width: 100%;

    &-content {
      &.active {@include transform(translateX(0)); @include trans;}
      @include phone {
        @include transform(translateX(-100%)); @include trans;
        background-color: $black;
        width: 90%;
        height: 100%;
        position: fixed;
        z-index: -1;
      }
      @include tablet {
        @include transform(translateX(-100%)); @include trans;
        background-color: $black;
        width: 90%;
        height: 100%;
        position: fixed;
        z-index: -1;
      }
      @include desk {
        @include trans;
        @include transform(translateX(0));
        background-color: white;
        width: 100%;
        height: auto;
        @include flexbox;
        position: unset;
        z-index: 0;

      }
    }
    // &-content {
    //   @include tablet {}
    //   background-color: white;
    //   width: 100%;
    //   @include flexbox;
    // }

    &-list {
      background-color: white;
      width: 30%;
      text-align: right;
      display: none;
      li {
        border-top: 0.1em solid;
        border-right: 0.1em solid;
        border-color: $black;
      }
      a {
        font-weight: 500;
        width: -webkit-fill-available;
        height: 100%;
        padding: 1em 2em;
        &:hover, &.active {
          color: white;
          background-color: #FFC800;
        }
      }
    }

    &-detail {
      width: 70%;
      border-top: 0.1em solid;
      border-color: $black;
      background-color:white;
      color: $black;
      &-soluciones, &-industria, &-tecnologia
      {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
      }
    }

    &-list-tienda {width: 40%; overflow-x: hidden; overflow-y: scroll; max-height: 60vh; display: none; background-color: white; margin-left: 100px!important;
      @include tablet {@include padblock(2em 0 0.5em 0); @include module; overflow: hidden; height: 400px;
        @include flexbox; @include flow-cw; @include just-start; @include items-start;
      }
      @include desk { max-height: 350px; }
    }

    &-title {width: 100%; position: relative; @include padblock(0.5em);
      @include phone {
        border-top: none;
        border-bottom: 1px solid white;
      }
      @include tablet {
        border-top: none;
        border-bottom: 1px solid white;
      }
      @include desk {
        border-top: 1px solid white; display: none;
      }
      background-color: $red; color: white; font-size: 1.3em;
      &.wine {background-color: $wine;
        &.miclaro {
          span:first-of-type { position: relative;
            &::after { content: "autogestion"; position: absolute; left: 110%; top: 0.45rem; text-align: left; font-size: 0.7rem; }
          }
        }
      }
      span {display: inline-block;
        svg {height: 0.9em; width: auto; display: block;}
      }
      .mobile-icon {position: absolute; top: 0.6em; right: 1.5em; font-family: $icon;}
      .nav--qty {
        position: absolute; top: 0.6rem; right: 1.8rem; left: auto; font-size: 15px; font-weight: 500;
        padding: 4px !important; background-color: white; color: $red;

      }
    }

    &-links {position: relative;
      .desk {display: none;}
      @include tablet {
        width: 32%; border-right: 1px solid $light; @include padblock(0 0.5em 0 2em); margin-bottom: 4rem;
        &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) { margin-bottom: 2rem; }
        &:last-of-type {border-right: none;}
        .desk {display: inline-block; font-size: 80%; @include transform(translateX(6px));}
        .icon {position: absolute; left: 0; top: 0; text-align: center; width: 21px;
          svg {display: inline-block; height: auto; width: 100%; max-width: 21px; max-height: 21px;}
        }
        .icon.after {top: 4em; padding: 0;}
      }
      @include desk {padding: 0 0.5em 0 3em; width: 24%;
        .icon {width: 34px;
          svg {max-width: 34px; max-height: 34px;}
        }
      }
      li {display: inline-block; width: 100%; border-top: 1px solid $gray; position: relative;
        @include tablet {border-top: none; font-size: 90%;
          &.after {padding-top: 1.5em;}
        }
        @include desk {font-size: 100%;}
        a {@include padblock(0.85em 3.2em); font-size: 0.9em;
          &::after {content: "\f105"; font-family: $icon; position: absolute; top: 0.75em; right: 1.25em; font-size: 1.25em;}
          @include tablet {
            padding: 0.25em; font-size: 1em;
            &::after {display: none;}
          }
          &:hover {color:red;}
        }
        b {font-size: 1.2em; font-weight: 400; @include transform(translateX(-1em));
          @include tablet {@include transform(translateX(0));}
        }
        p {
          @include tablet {font-size: 111%;}
        }
        &:hover .links-tienda {display: block;} 
      }
    }

    &-links-tienda {position: relative;
      .desk {display: none;}
      @include tablet {
        width: 16%; border-right: 1px solid $light; @include padblock(0 0.5em 2em 2em); margin-bottom: 8rem;
        &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) { margin-bottom: 2rem; }
        &:last-of-type {border-right: none;}
        .desk {display: inline-block; font-size: 80%; @include transform(translateX(6px));}
        .icon {position: absolute; left: 0; top: 0; text-align: center; width: 21px;
          svg {display: inline-block; height: auto; width: 100%; max-width: 21px; max-height: 21px;}
        }
        .icon.after {top: 4em; padding: 0;}
      }
      @include desk {padding: 0 0.5em 0 3em; width: 50%;
        .icon {width: 34px;
          svg {max-width: 34px; max-height: 34px;}
        }
      }
      li {display: inline-block; width: 100%; border-top: 1px solid $gray; position: relative;
        &:last-of-type {height: 300px;}
        @include tablet {border-top: none; font-size: 90%;
          &.after {padding-top: 1.5em;}
        }
        @include desk {font-size: 100%;}
        a {@include padblock(0.85em 3.2em); font-size: 0.9em;
          &::after {content: "\f105"; font-family: $icon; position: absolute; top: 0.75em; right: 1.25em; font-size: 1.25em;}
          @include tablet {
            padding: 0.25em; font-size: 1em;
            &::after {display: none;}
          }
        }
        b {font-size: 1.2em; font-weight: 400; @include transform(translateX(-1em));
          @include tablet {@include transform(translateX(0));}
        }
        p {
          @include tablet {font-size: 111%;}
        }
      }
    }

    &-login {width: 100%; display: none; @include module; height: 0; text-align: right;
      .container {
        display: inline-block; width: auto;
        // @include flexbox; @include flow-cn; @include just-start; @include items-end; // @include module;
        a {
          @include padblock(1rem); font-size: 0.75rem; color: white; background-color: $black;
        }
      }
    }

    &-slogan {width: 100%; @include padbox(0.5em); display: none; background-color: $blue; color: white; font-size: 0.8em; text-align: left;
      @include tablet {display: inline-block;}
      p {@include module;}
    }

  }

  &--mobilemenu {position: absolute; top: 100%; left: 0; right: 0; background-color: white; height: 0;
    @include desk {display: none; background-color: white; height: auto;}
    width: 100%;

    &-content {
      &.active {@include transform(translateX(0)); @include trans;}
      @include phone {
        @include transform(translateX(-101%)); @include trans;
        background-color: $black;
        width: 90%;
        height: 100%;
        position: fixed;
        z-index: -1;
      }
      @include tablet {
        @include transform(translateX(-101%)); @include trans;
        background-color: $black;
        width: 90%;
        height: 100%;
        position: fixed;
        z-index: -1;
      }
      @include desk {
        @include trans;
        @include transform(translateX(0));
        background-color: white;
        width: 100%;
        height: auto;
        @include flexbox;
        position: unset;
        z-index: 0;

      }
    }
    // &-content {
    //   @include tablet {}
    //   background-color: white;
    //   width: 100%;
    //   @include flexbox;
    // }

    &-list {
      width: 100%;
      text-align: start;
      display: none;
      li {
        border-top: 0.1em solid;
        border-right: 0.1em solid;
        border-color: $black;
      }
      a {
        font-weight: 300;
        width: -webkit-fill-available;
        height: 100%;
        color: white;
        border-bottom: 1px solid #fff;
        padding: 1em 2em;
      }
    }

    &-detail {
      width: 70%;
      border-top: 0.1em solid;
      border-color: $black;
      background-color:white;
      color: $black;
      &-soluciones, &-industria, &-tecnologia
      {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
      }
    }

    &-list-tienda {width: 40%; overflow-x: hidden; overflow-y: scroll; max-height: 60vh; display: none; background-color: white; margin-left: 100px!important;
      @include tablet {@include padblock(2em 0 0.5em 0); @include module; overflow: hidden; height: 400px;
        @include flexbox; @include flow-cw; @include just-start; @include items-start;
      }
      @include desk { max-height: 350px; }
    }

    &-title {width: 100%; position: relative; @include padblock(0.5em);
      @include phone {
        border-top: none;
        border-bottom: 1px solid white;
      }
      @include tablet {
        border-top: none;
        border-bottom: 1px solid white;
      }
      @include desk {
        border-top: 1px solid white; display: none;
      }
      background-color: $red; color: white; font-size: 1.3em;
      &.wine {background-color: $wine;
        &.miclaro {
          span:first-of-type { position: relative;
            &::after { content: "autogestion"; position: absolute; left: 110%; top: 0.45rem; text-align: left; font-size: 0.7rem; }
          }
        }
      }
      span {display: inline-block;
        svg {height: 0.9em; width: auto; display: block;}
      }
      .mobile-icon {position: absolute; top: 0.6em; right: 1.5em; font-family: $icon;}
      .nav--qty {
        position: absolute; top: 0.6rem; right: 1.8rem; left: auto; font-size: 15px; font-weight: 500;
        padding: 4px !important; background-color: white; color: $red;

      }
    }

    &-links {position: relative;
      .desk {display: none;}
      li {display: inline-block; width: 100%; border-top: 1px solid $gray; position: relative;
        a {@include padblock(0.85em 3.2em); font-size: 0.9em;          
          .mobile-soluciones-icon {position: absolute; top: 0.6em; right: 1.5em; font-family: $icon;}
          .mobile-industrias-icon {position: absolute; top: 0.6em; right: 1.5em; font-family: $icon;}
          .mobile-tecnologias-icon {position: absolute; top: 0.6em; right: 1.5em; font-family: $icon;}
        }
        b {font-size: 1.2em; font-weight: 400; @include transform(translateX(-1em)); }
        &:hover .links-tienda {display: block;} 
      }
    }

    &-soluciones {position: relative;
      .desk {display: none;}
      display: none;
      &.active{
        @include phone {
          display: block;
        }
        @include desk {
          display: none;
        }  
      }
      li {display: inline-block; width: 100%; border-top: 1px solid $gray; position: relative;
        a {@include padblock(0.85em 5.2em); font-size: 0.9em;
          &::after {content: "\f105"; font-family: $icon; position: absolute; top: 0.75em; right: 1.25em; font-size: 1.25em;}
        }
        b {font-size: 1.2em; font-weight: 400; @include transform(translateX(-1em));}
        &:hover .links-tienda {display: block;} 
      }
    }

    &-industrias {position: relative;
      .desk {display: none;}
      display: none;
      &.active{
        @include phone {
          display: block;
        }
        @include desk {
          display: none;
        }  
      }
      li {display: inline-block; width: 100%; border-top: 1px solid $gray; position: relative;
        a {@include padblock(0.85em 5.2em); font-size: 0.9em;
          &::after {content: "\f105"; font-family: $icon; position: absolute; top: 0.75em; right: 1.25em; font-size: 1.25em;}
        }
        b {font-size: 1.2em; font-weight: 400; @include transform(translateX(-1em));}
        &:hover .links-tienda {display: block;} 
      }
    }

    &-tecnologias {position: relative;
      .desk {display: none;}
      display: none;
      &.active{
        @include phone {
          display: block;
        }
        @include desk {
          display: none;
        }  
      }
      li {display: inline-block; width: 100%; border-top: 1px solid $gray; position: relative;
        a {@include padblock(0.85em 5.2em); font-size: 0.9em;
          &::after {content: "\f105"; font-family: $icon; position: absolute; top: 0.75em; right: 1.25em; font-size: 1.25em;}
        }
        b {font-size: 1.2em; font-weight: 400; @include transform(translateX(-1em));}
        &:hover .links-tienda {display: block;} 
      }
    }

    &-links-tienda {position: relative;
      .desk {display: none;}
      @include tablet {
        width: 16%; border-right: 1px solid $light; @include padblock(0 0.5em 2em 2em); margin-bottom: 8rem;
        &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) { margin-bottom: 2rem; }
        &:last-of-type {border-right: none;}
        .desk {display: inline-block; font-size: 80%; @include transform(translateX(6px));}
        .icon {position: absolute; left: 0; top: 0; text-align: center; width: 21px;
          svg {display: inline-block; height: auto; width: 100%; max-width: 21px; max-height: 21px;}
        }
        .icon.after {top: 4em; padding: 0;}
      }
      @include desk {padding: 0 0.5em 0 3em; width: 50%;
        .icon {width: 34px;
          svg {max-width: 34px; max-height: 34px;}
        }
      }
      li {display: inline-block; width: 100%; border-top: 1px solid $gray; position: relative;
        &:last-of-type {height: 300px;}
        @include tablet {border-top: none; font-size: 90%;
          &.after {padding-top: 1.5em;}
        }
        @include desk {font-size: 100%;}
        a {@include padblock(0.85em 3.2em); font-size: 0.9em;
          &::after {content: "\f105"; font-family: $icon; position: absolute; top: 0.75em; right: 1.25em; font-size: 1.25em;}
          @include tablet {
            padding: 0.25em; font-size: 1em;
            &::after {display: none;}
          }
        }
        b {font-size: 1.2em; font-weight: 400; @include transform(translateX(-1em));
          @include tablet {@include transform(translateX(0));}
        }
        p {
          @include tablet {font-size: 111%;}
        }
      }
    }

    &-login {width: 100%; display: none; @include module; height: 0; text-align: right;
      .container {
        display: inline-block; width: auto;
        // @include flexbox; @include flow-cn; @include just-start; @include items-end; // @include module;
        a {
          @include padblock(1rem); font-size: 0.75rem; color: white; background-color: $black;
        }
      }
    }

    &-slogan {width: 100%; @include padbox(0.5em); display: none; background-color: $blue; color: white; font-size: 0.8em; text-align: left;
      @include tablet {display: inline-block;}
      p {@include module;}
    }

  }

  &--login {width: 100%; display: inline-block; background-color: white; padding: 1em 0 2em 0;
    @include tablet {width: 40%;}
    @include desk {width: 32%;}
    form {width: 100%; @include flexbox; @include flow-rw; @include just-between; @include items-start; @include padbox(1em);
      header {display: inline-block; width: auto;
        span {
          svg {width: 28px; height: auto;}
        }
        h2 {display: inline-block; font-size: 1.2em; font-weight: 400; padding: 7px 0 0 7px; vertical-align: top;}
      }
      aside {display: inline-block; width: auto;
        label {text-align: center; border-bottom: 1px solid $gray; position: relative; width: 50px; text-align: center;
          span {font-size: 0.9em; font-weight: 500; @include padbox(0.25em 0.5em); color: $grey; @include trans;
            &::after {content: ""; display: inline-block; width: 100%; height: 4px; position: absolute; top: 100%; left: 0; right: 0;
              background-color: transparent; @include trans
            }
          }
          input {display: none;
            &:checked + span {color: $black;
              &::after {background-color: $red;}
            }
          }
        }
      }
      section {width: 100%; text-align: left;
        p {width: 100%; font-size: 0.9em; font-weight: 400; margin-bottom: 4px;}
        label {width: 100%; margin-bottom: 1.5em;
          input {border: 1px solid $gray;}
        }
      }
      footer {width: 100%;
        div {width: 100%; text-align: right;
          p {text-align: center; width: 100%; font-weight: 400;}
          a {font-size: 0.9em; color: $blue;
            &:hover {text-decoration: underline;}
          }
        }
        p {width: 100%; text-align: left; font-size: 0.9em;
          a {color: $blue;
            &::after {content: "\f105"; font-family: $icon; padding-left: 6px; vertical-align: middle; display: inline-block; @include trans;}
            &:hover {
              &::after {@include transform(translateX(6px));}
            }
          }
        }
        button {width: 100%; @include padblock(0.8em); margin: 0.5em 0; color: white; font-weight: 300; text-align: center;
          span::after {display: inline-block; font-family: $icon; padding-left: 6px; @include trans;}
          &:first-of-type {background-color: $red;
            span {
              &::after {content: "\f105";}
            }
          }
          // FACEBOOK
          // &:last-of-type {background-color: $facebook;
          //   span {
          //     &::before {content: "\f09a"; font-family: $icon; padding-right: 6px;}
          //     &::after {content: "\f105";}
          //   }
          // }
          &:hover {
            span::after {@include transform(translateX(6px));}
          }
        }
      }

    }

    &-aside {display: none;
      @include tablet {@include padbox(0em 1em 0em 0); margin: 2em 0; width: 60%; border-right: 1px solid $gray;
        @include flexbox; @include flow-rw; @include just-between; @include items-center;
      }
      @include desk {width: 68%;}
      picture {width: 34%;
        @include desk {width: 28%;}
      }
      section {display: inline-block; width: 58%;
        @include desk {width: 68%; @include flexbox; @include flow-rw; @include just-between; @include items-center;}
        div {width: 100%; text-align: left; margin: 0.5em 0;
          @include flexbox; @include flow-rn; @include just-start; @include items-center;
          @include desk {width: 48%;}
          span {background-image: url($sprite-icons); background-repeat: no-repeat; margin-right: 6px;}
          p {font-size: 0.8em; display: inline-block; vertical-align: super;}
          &:nth-of-type(1) span {@include size(25px, 24px); background-position: -1px -2px;}
          &:nth-of-type(2) span {@include size(25px, 24px); background-position: -1px -27px;}
          &:nth-of-type(3) span {@include size(25px, 22px); background-position: -2px -55px;}
          &:nth-of-type(4) span {@include size(25px, 24px); background-position: -5px -79px;}
          &:nth-of-type(5) span {@include size(25px, 25px); background-position: -1px -106px;}
          &:nth-of-type(6) span {@include size(25px, 24px); background-position: -1px -135px;}
        }
      }
    }
  }

}
