.cross {width: 100%; background-color: $soft;

  &--module {width: 100%; @include padbox(2em 1em); @include module;
    h2 {font-size: 1.8em; font-weight: 300; width: 100%; text-align: left; margin-bottom: 1em;}
    .slick {
      &-slide { display: inline-block; width: auto; min-width: 220px; padding: 0 0.5rem; 
        > div { display: inline-block; width: auto; min-width: 220px; }
      }
      &-track { @include flexbox_i; @include flow-rn; @include just-start; @include items-stretch; 
        height: auto; width: 100%;
        @include padbox(0 1.5em);
        @include desk {padding: 0;}
      }
      &-arrow {position: absolute; top: 40%; font-size: 4em; z-index: 1; color: #888888; display: none;
        @include desk {display: inline-block;}
        &:hover {color: #b3b3b3;}
      }
      &-prev {left: -40px;}
      &-next {right: -40px;}
    }
  }

  &--box {display: inline-block; padding-bottom: 1em; margin: 0 0.5rem; min-width: 220px;
    background-color: white; border: 1px solid $light; @include trans;
    // width: 100%; min-width: 220px; max-width: 220px; 
    //min-width: 220px; max-width: 220px; min-height: 340px;
    
    // @include tablet {width: 24%;}
    // @include desk {width: 20%;}
    a {@include padblock(1em); width: 100%;
      h3 {display: block; font-size: 1.25rem; font-weight: 300; min-height: 80px;}
      picture {padding: 0.5em 0; text-align: center;
        img {height: 100px; width: auto; margin: 0 auto;}
      }
      section {width: 100%; padding-bottom: 0.5em;
        b {font-size: 1em; font-weight: 400; padding-bottom: 0.5em;}
        p {font-size: 1.875em;}
      }
      aside {width: 100%; padding-bottom: 0.5em;
        b {font-size: 0.875em; font-weight: 400; padding-bottom: 0.5em; color: $grey;}
        p {font-size: 1.25em;}
      }
      > b {@include padblock(0.6em); width: 100%; text-align: center; @include trans;
        background-color: white; color: $blue; border: 1px solid $blue; @include radius(3px);
        span {font-weight: 300;
          &::after {content: "\f105"; font-family: $icon; display: inline-block; padding-left: 7px; @include trans;}
        }
      }
    }
    &:hover {border-color: $blue;
      a > b span::after {@include transform(translateX(6px));}
    }
  }

}
