.search {

  &--box {width: 100%; position: relative; width: 100%; display: inline-block;
    @include radius(99px);
    label {width: 100%; background-color: white; @include radius(99px); margin-left: 0.5em;
      input {border: none !important; color: $black; @include radius(99px); font-size: 0.8em;
        &::placeholder {color: $black; opacity: 1;}
        // &:focus {border-color: $red;}
      }
    }
    &-reset {position: absolute; top: 0.5em; right: 2.5em; font-size: 1.1em; color: $blue; display: none;
      svg {height: 16px; display: block;}
      // &::after {content: "\f00d"; font-family: $icon;}
    }
    button, a.DEMO {background-color: white; position: absolute; top: 1.5px; bottom: 1.5px; right: 7px; font-size: 0.8em;
      border: none !important;
      span {@include padbox(0.5em); color: $black;}
    }

    &-results {
      position: absolute; top: 100%; left: 0; right: 0; width: 100%; z-index: 1;
      background-color: $black;
      color: white;
      a { width: 100%; @include padblock(0.5rem); background-color: $black;
        color: white;
        text-align: start;
        &:hover, &:focus { color: #FFC800; }
      };
      li.selected a { color:  #FFC800; };
    }
  }

  &--notfound { width: 100%; font-size: 1rem;
    p { margin: 1rem 0;
      &::before { content: "\f010"; font-family: $icon; color: $red; display: inline-block; padding-right: 0.5rem; }
      b {
        &::before, &::after { content: "''"; }
      }
    }
    ul { width: 100%; @include padblock(1rem); background-color: $soft;
      li { padding: 0.25rem 0;
        span {
          &::before { content: "· "; color: red; }
        }
      }
    }
  }

  &--grid {width: 100%; @include module;
    @include flexbox; @include flow-rw; @include just-between; @include items-start;
    article {width: 100%;
      width: 24%;
    }
  }

}
