<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',"<%= process.env.TAG %>");</script>-->
    <!-- End Google Tag Manager -->
  	<!-- head -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claro | Tienda Online</title>
    <!-- schema -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name" : "Claro",
      "url": "http://www.claro.com.sv",
      "logo": "http://www.claro.com.sv/media/layout/logo.svg",
      "sameAs": [
      	"https://www.facebook.com/claro/",
      	"https://twitter.com/claro/",
      	"@claro",
      	"https://www.instagram.com/claro/"
      ]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name" : "Claro",
      "url": "https://www.claro.com.sv",
      "potentialAction": {
      	"@type": "SearchAction",
      	"target": "http://www.claro.com/s/?c={search_term_string}",
      	"query-input": "required name=search_term_string"
      }
    }
    </script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta name="description" content="SEO Description" data-react-helmet="true" />
    <meta name="google" content="notranslate">
    <!-- open graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tiendaenlinea.claro.com.sv/">
    <meta property="og:title" content="Tienda Claro El Salvador | Compra los mejores celulares de manera segura">
    <meta property="og:site_name" content="Tienda Claro El Salvador | Compra los mejores celulares de manera segura">
    <meta property="og:description" content="Compra en línea los mejores equipos con tecnología 4G y recíbelos en tu hogar o Centro de Atención más cercano. Estrena hoy un celular con Claro.">
    <!-- <meta property="og:description"
      content="Compra en línea los mejores equipos con tenología 3G y 4G y recíbelos en tu hogar o Centro de Atención más cercano. Estrena hoy un celular con Claro."> -->
    <meta property="og:locale" content="es_SV">
    <meta property="og:image" content="https://tiendaenlinea.claro.com.sv/cdn/espots/SEO/claro-thumbnail.jpg">
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://tiendaenlinea.claro.com.sv/">
    <meta name="twitter:title" content="Tienda Claro El Salvador | Compra los mejores celulares de manera segura">
    <meta name="twitter:description" content="Compra en línea los mejores equipos con tecnología 4G y recíbelos en tu hogar o Centro de Atención más cercano. Estrena hoy un celular con Claro.">
    <!-- <meta name="twitter:description"
      content="Compra en línea los mejores equipos con tenología 3G y 4G y recíbelos en tu hogar o Centro de Atención más cercano. Estrena hoy un celular con Claro."> -->
    <meta name="twitter:site" content="@claroelsalvador">
    <meta name="twitter:creator" content="@claroelsalvador">
    <meta name="twitter:image" content="https://tiendaenlinea.claro.com.sv/cdn/espots/SEO/claro-thumbnail.jpg">
    <!-- ios -->
    <meta name="apple-mobile-web-app-title" content="Name">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- android -->
    <meta name="application-name" content="Claro">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/media/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/media/favicon/browserconfig.xml">
    <link rel="manifest" href="/media/favicon/manifest.json">
    <link rel="icon" type="image/png" sizes="192x192" href="/media/favicon/android-chrome-192x192.png">
    <!-- favicon -->
    <link rel="shortcut icon" href="/media/favicon/favicon.ico">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#DA291C">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/media/favicon/favicon-194x194.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/media/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon-180x180.png">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= process.env.TAG %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    <div id="app"></div>
    <script src="/scripts/main.js" type="text/javascript" defer="true"></script>
  </body>
</html>
